
<pre>
<%= @io %>
<p>
<%= @so %>
</pre>


<form action=/ess3>
Epochs: <input type=text size=3 maxlength=3 name=epochs value="5">
Maximum Generations per epoch: <input type=text size=3 maxlength=3 name=gens value="4">
<p>
<input type=submit value=go>

</form>
