<%=
  ai = Ess.new(params[:gens].to_i)
  ai.evolute('x')
  ai.so
%>

<a href=#solution>solution</a><p>
<hr size=-1>
<a name=solution>
<%=
  cl = Chl.new
  cl.readCSVFile('x')  
  @so = cl.printSolution(ai.winner)
%>

<a href=#top>top</a><p>
