
<p>
<table border=0 cellpadding=20>
<tr><th>Class</th><th></th></tr>
<tr><td>Choice List </td><td>Inventory Attributes and methods; fitness function
<tr><td>Sgenome</td><td >A flyweight instance of one selection, eg: <img src=/images/sgenome.png></td>
<tr><td>Culture</<td><td>Population of sgenomes, inheritance, mutation functions </td>
<tr><td>Ess</<td><td>Evolutionary methods</td>
</table>
<p>



